.mainContainer {
    position: relative;
    height: 100vh;
    width: 100%;
}

.rowContainer {
    position: relative;
    padding: 100px;
    background-color: white;
    border-radius: 100%;
    box-shadow: 1px 10px 10px #dbeeff;
}

.imageContainer {
    position: relative;
    background-color: #f2f8ff;
    overflow: hidden;
}

.bg-crimson {
    background-color: #282c34;
}

.insetShadowRound {
    box-shadow: inset 1px 10px 10px #dbeeff;
    border-radius: 100%;
}

.input {
    box-shadow: 1px 5px 3px #e8e8e8;
}

.bgTitle {
    position: absolute;
    z-index: 2;
    top: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 250;
}

.bgTitleSub {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.bgImage {
    position: absolute;
    z-index: 1;
    width: 700px;
    bottom: 0;
    right: 30%;
}

.bgImage2 {
    position: absolute;
    z-index: 1;
    width: 450px;
    bottom: 0;
    left: 0;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #ebebec;
    top: 20px;
    left: 20px;
    transform: rotate(120deg);
}

.circle1 {
    position: absolute;
    width: 250px;
    height: 250px;
    bottom: -100px;
    left: -100px;
    border-radius: 100%;
    background-color: #e3eeff;
}

.circle2 {
    position: absolute;
    width: 250px;
    height: 250px;
    top: -100px;
    right: -100px;
    border-radius: 100%;
    background-color: #cbcbff;
}

.hiTitle {
    font-size: 50px;
    color: #6075ee;
    letter-spacing: 4px;
    text-shadow: 1px 5px 3px #c7c7c7;
    -webkit-text-stroke: 1.5px #bfeeff; /* width and color */
}

.title {
    font-size: 16px;
    color: #60aeee;
    text-shadow: 1px 3px 4px #c7c7c7;
}

.form {
    width: 300px;
    z-index: 3;
}

.forgotPassword {
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    right: 0;
    cursor: pointer;
}

.clickable {
    transition: 0.2s;
    cursor: pointer;
}

.clickable:hover {
    transition: 0.3s;
    background-color: #3360da;
    color: white;
    transform: scale(1.1, 1.1);
}

.clickable:active {
    transition: 0.3s;
    transform: scale(0.97, 0.97);
}

.signInButton {
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 150px;
    background-color: #4b7bf5;
    color: white;
    box-shadow: 1px 4px 4px #d3d3d3;
}

.verticalLine {
    background-color: #a1a1a1;
    opacity: 0.2;
    width: 100px;
    height: 1px;
}

.signInWithGoogleButton {
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    width: 200px;
}
